In [30]:
import numpy as np
import pandas as pd

In [31]:
df = pd.read_excel('echantillon.xlsx')
df

,Unnamed: 0,NOM,Hors_Usthb,Structure,présence,p_évenement,o_évenement,P_participation,P_club,easy,moderate,hard
0,0,memeber1,1,1,0,0,1,4,1,3,1,6
1,1,memeber2,1,1,0,1,2,3,2,3,0,3
2,2,memeber3,0,1,0,0,0,0,4,1,9,6
3,3,memeber4,1,0,0,0,2,3,1,3,1,1
4,4,memeber5,0,1,0,2,1,3,3,4,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,memeber96,0,1,0,2,1,1,4,0,9,6
96,96,memeber97,1,0,1,0,2,1,2,4,1,6
97,97,memeber98,0,0,1,1,2,4,0,3,3,4
98,98,memeber99,0,1,1,1,1,3,1,1,7,6
99,99,memeber100,0,1,0,0,1,4,2,0,3,9

In [32]:
df.drop('Unnamed: 0', inplace=True, axis=1)

In [33]:
df

,NOM,Hors_Usthb,Structure,présence,p_évenement,o_évenement,P_participation,P_club,easy,moderate,hard
0,memeber1,1,1,0,0,1,4,1,3,1,6
1,memeber2,1,1,0,1,2,3,2,3,0,3
2,memeber3,0,1,0,0,0,0,4,1,9,6
3,memeber4,1,0,0,0,2,3,1,3,1,1
4,memeber5,0,1,0,2,1,3,3,4,5,5
...,...,...,...,...,...,...,...,...,...,...,...
95,memeber96,0,1,0,2,1,1,4,0,9,6
96,memeber97,1,0,1,0,2,1,2,4,1,6
97,memeber98,0,0,1,1,2,4,0,3,3,4
98,memeber99,0,1,1,1,1,3,1,1,7,6
99,memeber100,0,1,0,0,1,4,2,0,3,9

In [34]:
df['Points']=(1+0.02*df['Hors_Usthb']+0.03*df['Structure'])*(2*df['présence']+3*df['p_évenement']+4*df['o_évenement']+3*df['P_participation']+5*df['P_club']+2*df['easy']+3*df['moderate']+5*df['hard'])

In [35]:
df

,NOM,Hors_Usthb,Structure,présence,p_évenement,o_évenement,P_participation,P_club,easy,moderate,hard,Points
0,memeber1,1,1,0,0,1,4,1,3,1,6,63.00
1,memeber2,1,1,0,1,2,3,2,3,0,3,53.55
2,memeber3,0,1,0,0,0,0,4,1,9,6,81.37
3,memeber4,1,0,0,0,2,3,1,3,1,1,36.72
4,memeber5,0,1,0,2,1,3,3,4,5,5,84.46
...,...,...,...,...,...,...,...,...,...,...,...,...
95,memeber96,0,1,0,2,1,1,4,0,9,6,92.70
96,memeber97,1,0,1,0,2,1,2,4,1,6,65.28
97,memeber98,0,0,1,1,2,4,0,3,3,4,60.00
98,memeber99,0,1,1,1,1,3,1,1,7,6,78.28
99,memeber100,0,1,0,0,1,4,2,0,3,9,82.40

In [36]:
leader_board = df.sort_values(by=['Points'], ascending=False)
leader_board

,NOM,Hors_Usthb,Structure,présence,p_évenement,o_évenement,P_participation,P_club,easy,moderate,hard,Points
11,memeber12,1,1,1,0,1,1,3,4,9,9,109.20
69,memeber70,0,1,0,2,1,2,4,4,9,7,109.18
86,memeber87,0,0,0,0,2,3,4,0,7,9,103.00
23,memeber24,1,1,0,2,2,4,3,0,8,6,99.75
21,memeber22,1,1,1,2,2,0,1,4,7,9,99.75
...,...,...,...,...,...,...,...,...,...,...,...,...
6,memeber7,1,0,0,0,2,1,0,2,0,3,30.60
74,memeber75,1,1,0,2,0,4,1,1,0,0,26.25
54,memeber55,1,1,0,1,2,1,1,0,2,0,26.25
88,memeber89,1,1,1,1,0,0,1,2,0,2,25.20
84,memeber85,0,1,0,0,1,0,1,0,0,2,19.57

In [37]:
rank = ['LEGEND']
l = len(leader_board)

In [38]:
for i in range(int(0.05*l)):
    rank.append('Diamond')
for i in range(int(0.1*l)):
    rank.append('Platinium')
for i in range(int(0.15*l)):
    rank.append('Gold')
for i in range(int(0.2*l)):
    rank.append('Silver')
for i in range(int(0.25*l)):
    rank.append('Bronze')
for i in range(l-int(0.75*l)-1):
    rank.append('Rusty')

In [39]:
leader_board['Rank'] = rank
leader_board

,NOM,Hors_Usthb,Structure,présence,p_évenement,o_évenement,P_participation,P_club,easy,moderate,hard,Points,Rank
11,memeber12,1,1,1,0,1,1,3,4,9,9,109.20,LEGEND
69,memeber70,0,1,0,2,1,2,4,4,9,7,109.18,Diamond
86,memeber87,0,0,0,0,2,3,4,0,7,9,103.00,Diamond
23,memeber24,1,1,0,2,2,4,3,0,8,6,99.75,Diamond
21,memeber22,1,1,1,2,2,0,1,4,7,9,99.75,Diamond
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6,memeber7,1,0,0,0,2,1,0,2,0,3,30.60,Rusty
74,memeber75,1,1,0,2,0,4,1,1,0,0,26.25,Rusty
54,memeber55,1,1,0,1,2,1,1,0,2,0,26.25,Rusty
88,memeber89,1,1,1,1,0,0,1,2,0,2,25.20,Rusty
84,memeber85,0,1,0,0,1,0,1,0,0,2,19.57,Rusty

In [41]:
leader_board.to_excel("output.xlsx")